
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<div class="row">
    <div>
        @Html.ActionLink("TreeView - Bootstrap & Jquery", "TreeViewBootstrap", "TreeViews")
    </div>
    <div>
        @Html.ActionLink("TreeView - EasyUI", "TreeViewEasyUI", "TreeViews")
    </div>
</div>

